Frameworks/ filter=lfs diff=lfs merge=lfs -text
archives/Insta360SDK-Simulator.xcarchive/Products/Library/Frameworks/Insta360SDK.framework/Frameworks/INSCameraSDK.framework/INSCameraSDK filter=lfs diff=lfs merge=lfs -text

archives/Insta360SDK-Simulator.xcarchive/Products/Library/Frameworks/Insta360SDK.framework/Frameworks/INSCoreMedia.framework/INSCoreMedia filter=lfs diff=lfs merge=lfs -text

archives/Insta360SDK.xcarchive/Products/Library/Frameworks/Insta360SDK.framework/Frameworks/INSCameraSDK.framework/INSCameraSDK filter=lfs diff=lfs merge=lfs -text

archives/Insta360SDK.xcarchive/Products/Library/Frameworks/Insta360SDK.framework/Frameworks/INSCoreMedia.framework/INSCoreMedia filter=lfs diff=lfs merge=lfs -text

archives/Insta360SDK.xcframework/ios-arm64/Insta360SDK.framework/Frameworks/INSCameraSDK.framework/INSCameraSDK filter=lfs diff=lfs merge=lfs -text

archives/Insta360SDK.xcframework/ios-arm64/Insta360SDK.framework/Frameworks/INSCoreMedia.framework/INSCoreMedia filter=lfs diff=lfs merge=lfs -text

archives/Insta360SDK.xcframework/ios-x86_64-simulator/Insta360SDK.framework/Frameworks/INSCameraSDK.framework/INSCameraSDK filter=lfs diff=lfs merge=lfs -text

archives/Insta360SDK.xcframework/ios-x86_64-simulator/Insta360SDK.framework/Frameworks/INSCoreMedia.framework/INSCoreMedia filter=lfs diff=lfs merge=lfs -text

archives/ios/Insta360SDK.framework/Frameworks/INSCameraSDK.framework/INSCameraSDK filter=lfs diff=lfs merge=lfs -text
archives/ios/Insta360SDK.framework/Frameworks/INSCoreMedia.framework/INSCoreMedia filter=lfs diff=lfs merge=lfs -text

archives/simulator/Insta360SDK.framework/Frameworks/INSCameraSDK.framework/INSCameraSDK filter=lfs diff=lfs merge=lfs -text
archives/simulator/Insta360SDK.framework/Frameworks/INSCoreMedia.framework/INSCoreMedia filter=lfs diff=lfs merge=lfs -text
Frameworks/INSCameraSDK.framework/INSCameraSDK filter=lfs diff=lfs merge=lfs -text
Frameworks/INSCoreMedia.framework/INSCoreMedia filter=lfs diff=lfs merge=lfs -text